.home-banner {
    height: 700px;
    width: 100%;
    position: relative;
    top: -20px;
    background-image: url("../img/home-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}